{% extends "accounts/base_profile.html" %}
{% block sidebar %}

{% load static %}

<script></script>

<div class="jumbotron">
    <h1> You are currently growing {{mushroom.mushroom_choices}} mushrooms!</h1>
    <h2>Details:</h2>
    <ul>
        <li>Time started: {{mushroom.created_at}}</li>
    </ul>
    <div class="arduino">
        <div class="arduino-mod">
            <h1>TEMP/HUM SENSOR</h1>
            <div class="ard-disp">
                <div>Target temperature(°F):<h3 id="temptarget">Here is where temperature and humidity is displayed</h3></div>
                <div>Actual temperature(°F):<h3 id="temp"></h3></div>
                <div>Target humidity(%RH):<h3 id="humtarget"></h3></div>
                <div>Actual humidity(%RH):<h3 id="hum"></h3></div>                
            </div>
            <button id="temp_hum_button">Refresh Temp/Hum</button>
        </div>
        <div class="arduino-mod">
            <h1 >C02 SENSOR</h1>
            <div class="ard-disp">
                <div>Target CO2(ppm):<h3 id="co2target"></h3></div>
                <div>Actual CO2(ppm)<h3 id="co2">Here is where carbon dioxide levels are shown</h3></div>                
            </div>
            <button id="co2_button">Refresh CO2</button>
        </div>
        <div class="arduino-mod">
            <h1>LIGHT SENSOR</h1>
            <div class="ard-disp">
                <div>Light level(Lux):<h3 id="light">Here is where the light levels are shown</h3></div>
                <h3 id="time"></h3>
            </div>
            <button id="light_button">Refresh Light</button>
        </div>
    </div>
</div>
<div class="">
    <p><a class="btn btn-danger" href="{% url 'mushrooms:delete' pk=mushroom.pk  %}">Delete</a></p>
</div>
<script src="{% static 'js/blynk.js' %}"></script>

{% endblock %}