{% extends "mushroom/base.html" %}
{% load static %}
{% block content %}



<div class="jumbotron">
    <h1>Blynk</h1>
    
    <div class="container">
        <div class="Blynk" style="display: flex; flex-direction: row;">
            <h1 id="Blynk1"></h1>
            <h1 id="Blynk2"></h1>
            {{ hello }}
            {{num1}}
            {{num2}}
            {{num1|add:num2}}
        </div>
        {{response}}
        {{response2}}
    </div>

    <button id="Bbutton">Get D2 Status</button>
    <button id="Abutton">Get D4 status</button>
    <button id="Cbutton">Get both? status</button>
    
</div>
<script src="{% static 'js/blynk.js' %}"></script>

{% endblock %}