.techfont{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;


}

.navbar-brand{
    font-size: 1.25em;
    text-align: center;
}


body{
    background-image: url('../mush_pics/379def067c0b1866fd3d2b7a5cfe79c9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Profile{
    text-align: center;
    background-color: rgba(240, 0, 92, 0.63);
}

.nav-link{
    color: white;
    border: thin;
    background-color: rgba(0,0,0,.25);
    background-size: 25px;
    padding: 5px;
    border-color: wheat;
    border-radius: 10px;
    border-spacing: 50px;
    margin: 5px;
    box-shadow: 3px 3px 5px black;
}

.jumbotron{
    background-color: rgba(0,0,0,.75);
    text-align: center;
    color: white;

    /*! border: black; */
    border-width: thick;
}

.aboutjumbo{
    position: absolute;
}

.aboutimage{
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 7px 5px black;

}

.d-inline-block{
    border-radius: 10px;
    margin-right: 15px;
}

.carousel img{
    border-radius: 5px;
    height: 700px;

}

.carousel-caption{
    background-color: rgba(0,0,0,.65);
    border-radius: 5px;
}