.techfont{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;


}

.navbar-brand{
    font-size: 1.25em;
    text-align: center;
    text-shadow: 0px 3px 3px black;
}


body{
    background-image: url('../mush_pics/379def067c0b1866fd3d2b7a5cfe79c9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer{
    background-color: black;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 75px;
    padding-right: 20px;
}

.footer-group{
    color: transparent;
}

.footer-item{
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    color: white;
}

.container{
    position: relative;
    margin-top: 250px;
    margin-bottom: 700px;
}

.Profile{
    text-align: center;
    background-color: rgba(240, 0, 92, 0.63);
    position: relative;
    width: 100%;
    top: 50%;
    z-index: -1;
}

.nav-link{
    color: white;
    border: thin;
    background-color: rgba(0,0,0,.25);
    background-size: 25px;
    padding: 5px;
    border-color: wheat;
    border-radius: 10px;
    border-spacing: 50px;
    margin: 5px;
    box-shadow: 3px 3px 5px black;
}
.navlink{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    text-align: center;
    position: relative;
    
}

.sidebar{
    position: absolute;
    background-color: rgb(15, 12, 12);
    width: max-content;
    left: -34%;
    border-width: 7px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    
}
.flex-column{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 4px;
    
}

.arduino{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 5%;
    
}

.arduino-mod{
    background-color: rgb(82, 82, 82);
    height: 320px;
    width: 426px;
    position: relative;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 5px;
    border: 5px solid rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
}

.ard-disp{
    background-color: rgba(0, 0, 0, 0.856);
    flex-grow: .5;
    margin-left: 1%;
    margin-right: 1%;
    color: rgb(85, 85, 85);
}


.jumbotron{
    background-color: rgba(0,0,0,.75);
    text-align: center;
    color: #aeaeae;
    border-width: thick;
}

.aboutimage{
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 7px 5px black;

}

.d-inline-block{
    border-radius: 10px;
    margin-right: 15px;
}

.carousel img{
    border-radius: 5px;
    height: 700px;

}

.carousel-caption{
    background-color: rgba(0,0,0,.65);
    border-radius: 5px;
}