{% extends "mushroom/base.html" %}
{% block content %}



 <div class="sidebar">
     <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link navlink" href="{% url 'accounts:profile' %}">Profile</a></li>
        <li class="nav-item"><a class="nav-link navlink" href="{% url 'mushrooms:create' %}">Create Mushrooms</a></li>
        <li class="nav-item"><a class="nav-link navlink" href="{% url 'mushrooms:list' %}">Manage Mushrooms</a></li>
    </ul>
</div>


{% block sidebar %}
{% endblock sidebar %}
{% endblock content %}
