{% extends "accounts/base_profile.html" %}

{% block sidebar %}

<div class="arduino">
    <div class="arduino-mod">
        <h1>TEMP/HUM SENSOR</h1>
        <div class="ard-disp">
            <h1>Here is where temperature and humidity is displayed</h1>
        </div>
    </div>
    <div class="arduino-mod">
        <h1>C02 SENSOR</h1>
        <div class="ard-disp">
            <h1>Here is where carbon dioxide levels are shown</h1>
        </div>
    </div>
    <div class="arduino-mod">
        <h1>LIGHT SENSOR</h1>
        <div class="ard-disp">
            <h1>Here is where the light levels are shown</h1>
        </div>
    </div>
    
</div>

{% endblock %}