{% extends "mushroom/base.html" %}
{% block content %}
<div class="jumbotron"> 
    <li>Brad Reyna: E-mail: bradreyna@gmail.com Phone: 281-760-7987</li>
    <li>Jose Ixba: E-mail: Artixba@hotmail.com Phone: 956-369-0875</li>
    <li>Martin Perez: E-mail: mperez51@cougarnet.uh.edu Phone: 832-233-3191</li>
    <li>Michael Valdez: E-mail: msvaldez@cougarnet.uh.edu Phone: 832-652-0350</li>
    <li>Tai-Kendy Trinh: E-mail: tvtrinh2@uh.edu Phone: 281-673-0279</li>
    <li>Valeria Salano: E-mail: valeriasolano17 Phone: 956-369-0875</li>
</div>
{% endblock %}