{% extends "mushroom/base.html" %}
{% block content %}
<div class="container">
    <h1>How it works</h1>
    <p>The mushroom incubator consists of two major components, one being the actual incubation chamber and the other the mobile application. The development of both were done in parallel. The incubation chamber is a clear chamber using plexiglass. This new approach was favorable as it facilitated the testing of component placement by being an inexpensive material and easy to manipulate.</p>
    <p>. All of the following sensors and environment control modules are controlled by an Arduino. The Arduino will be programmed to have a user interface in which the user can set their preferred temperature, humidity, C02 levels and light values. To accompany the Arduino, a mobile application is used to also set and monitor the incubator environmental values.</p>

</div>
    
{% endblock %}